.header-container {
    width: 100%;
    height: 80px;
    background-color: rgb(111, 236, 194);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    font-size:1.8rem;
    font-weight: bold;
    font-family: 'Creepster',cursive;
    margin-left: 1rem;
    cursor: pointer;
}

.logout {
    margin-right: 1.8rem;
    font-size: 1.5rem;
    font-weight: bold;
    font-family: 'Creepster', cursive;
    cursor: pointer;
}