.login-container {
    width: 100%;
    height: 100vh;
    background: linear-gradient(135deg, #72d2ff 0%, #cc1818 100%);
    position: relative;
}

.logo {
    font-size: 70px;
    font-weight: bold;
    font-family: 'Creepster', cursive;
    letter-spacing: 3px;
    position: absolute;
    top:50px;
    right:50px
}

.desc {
    width: 800px;
    font-size: 34px;
    font-family: 'Aladin',cursive;
    letter-spacing: 5px;
    position: absolute;
    top:200px;
    right:50px;
    text-align: right;
}

.film {
    position: absolute;
    top:50px;
    left:70px;
    width: 650px;
    height: 93vh;
}

.login-form {
    width: 450px;
    height: 250px;
    padding:20px;
    background-color: rgba(255,255,255,0.8);
    border-radius: 10px;
    position:absolute;
    bottom:80px;
    right:80px;
    box-shadow: 5px 5px 50px #383838;
}

.form-group {
    margin-top: 10px;
}

label {
    font-weight: bold;
}

.btn-container {
    margin-top: 20px;
}

.error {
    position: absolute; 
    bottom: 20px;
    right: 20px;
    color: #cc1818;
    font-weight: bold;     
}

.success {
    position: absolute; 
    bottom: 20px;
    right: 20px;
    color: #1b990f;   
    font-weight: bold; 
}