<div class="login-container">
    <img class="film" src="/assets/film.png"/>
    <div class="logo">Yovo's Movies App</div>
    <div class="desc">Greetings, stranger! I am trying to create my first app build on Angular!</div>
    <div class="login-form">
        <div class="form-group">
            <label for="uname">User name</label>
            <input type="text" name="uname" class="form-control" [(ngModel)]="username">
        </div>
        <div class="form-group">
            <label for="pword">Password</label>
            <input type="password" name="pword" class="form-control" [(ngModel)]="password">
        </div>       
        <div class="btn-container">
            <p class="error"> {{errorMsg}} </p>
            <p class="success"> {{successMsg}} </p>            
            <button class="btn btn-primary" (click)="login()">Login</button>
        </div> 


    </div>
</div>
