<app-header></app-header>
<div class="home-container">
    <div class="all-movies">
        <div class="trending-movies">
            <div class="top">
                <h4>Trending Movies</h4>
                <div class="view-all">View All</div>
            </div>
            <div class="movies-thumbnail">
                <div class="movie" *ngFor="let movie of trendingMovies">
                    <div class="cover">
                        <img (click)="goToMovie('trending',movie.id)" src={{movie.cover}} />
                    </div>
                    <div class="detail">
                        <div class="rating">
                            <span class="rating-value">{{movie.rating}}</span>
                            <app-star-rating [rating]="movie.rating" [isReadOnly]="true"></app-star-rating>
                        </div>
                        <div class="name" (click)="goToMovie('trending',movie.id)">{{movie.name}}</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="theatre-movies">
            <div class="top">
                <h4>Popular in Theatres</h4>
                <div class="view-all">View All</div>
            </div>
            <div class="movies-thumbnail">
                <div class="movie" *ngFor="let movie of theatreMovies">
                    <div class="cover">
                        <img (click)="goToMovie('theatre',movie.id)" src={{movie.cover}} />
                    </div>
                    <div class="detail">
                        <div class="rating">
                            <span class="rating-value" (click)="goToMovie('theatre',movie.id)">{{movie.rating}}</span>
                            <app-star-rating [rating]="movie.rating" [isReadOnly]="true"></app-star-rating>
                        </div>
                        <div class="name">{{movie.name}}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="popular-movies">
        <div class="top">
            <h4>All Time Popular</h4>
            <div class="movies">
                <div class="movie" *ngFor="let movie of popularMovies">
                  <div class="name" (click)="goToMovie('popular',movie.id)">{{ movie.name }}</div>
                  <div class="rating">
                    <span class="rating-value">{{ movie.rating }}</span>
                    <app-star-rating
                      [rating]="movie.rating"
                      [isReadOnly]="true"
                    ></app-star-rating>
                  </div>
                </div>
                <div class="view-all">View all</div>
              </div>
            </div>
          </div>
          