.movie-container {
    // width: 1400px;
    margin: 0 auto;
    padding: 50px;
    .top{
        display: flex;
        .left{
            width:550px;
            .name{
                font-size:36px;
                font-weight: bold;
            }
            .rating{
                display: flex;
                align-items: center;
                margin-bottom: 15px;
                .rating-value {
                    margin-left:20px;
                    margin-right:10px;
                    font-weight: bold;
                }
            }
            .cover{
                width: 400px;
                height: 500px;
                margin-right: 50px;
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    border-radius: 15px;
                    border: 3px solid;
                }
            }
        }
        .right{
            width: 40%;
            padding-top:100px;
            .title{
                margin-bottom: 30px;
            }
            .rating-form{
                .form-group{
                    margin-top: 20px;
                }
                label {
                    font-weight: bold;
                    margin-bottom: 5px;
                }
                textarea{
                    resize: none;
                }
            }
            .btn-container{
                margin-top:30px;
            }
        }
    }
    .bottom {
        width:60%;
        margin-top:50px;
        .title {
            margin-bottom: 30px;
        }
        .reviews {
            // width: 1000px;
            .review {
                margin-bottom:25px;
                background-color: #f1f1f1;
                padding:20px;
                border-radius: 5px;
                .review-details {
                    display: flex;
                    margin-bottom:20px;
                    .review-left {
                        width:20%;
                        .author {
                            font-size: 18px;
                            font-weight: bold;
                        }
                        .author-dt{
                            opacity: 7;
                        }
                    }
                    .review-right{
                        width:20%;
                        align-items: right;
                        justify-content: right;
                        .rating {
                            display:flex;
                            align-items:center;
                            .rating-value {
                                font-size: 16px;
                                margin-left: 20px;
                                font-weight: bold;
                            }
                        }
                      
                    }
                    .review-mid {
                        width: 60%;
                        display:flex;
                        justify-content: left;
                        align-items: top;
                        margin-left:10px;
                    }
                }
            }
        }
    }
}
