<app-header></app-header>
<div class="movie-container">
    <div class="top">
        <div class="left">
            <div class="name">{{movie?.name}}</div>
            <div class="rating">
                <span class="rating-value">{{ movie?.rating }}</span>
                <app-star-rating [rating]="movie?.rating" [isReadOnly]="true"></app-star-rating>
            </div>
            <div class="cover">
                <img [src]="movie?.cover" />
            </div>
        </div>
        <div class="right">
            <div class="title">Rate this movie</div>
            <div class="rating-form">
                <div class="form-group">
                    <label for="uname">Name</label>
                    <input type="text" name="uname" class="form-control">
                </div>
                <div class="form-group">
                    <label for="rating">Rating</label>
                    <app-star-rating [rating]="0" [isReadOnly]="false"></app-star-rating>
                </div>
                <div class="form-group">
                    <label for="review">Review</label>
                    <textarea type="text" name="review" rows="3" class="form-control"></textarea>
                </div>
                <div class="btn-container">
                    <button class="btn btn-dark">Submit</button>
                </div>
            </div>
        </div>
    </div>
    <div class="bottom">
        <h4 class="title">Reviews</h4>
        <div class="reviews" *ngIf="movie?.reviews.length>0">
            <div class="review" *ngFor="let review of movie.reviews">
                <div class="review-details">
                    <div class="review-left">
                        <div class="author"> {{ review.author }}</div>
                        <div class="author-dt">{{ review.published_on | date: "dd-MMM-YYYY" }}</div>
                    </div>
                    <div class="review-mid">
                        {{review.review}}
                    </div>
                    <div class="review-right">
                        <div class="rating">
                            <app-star-rating class="rating" [rating]="review?.rating" [isReadOnly]="true">
                            </app-star-rating>
                            <span class="rating-value"> {{review?.rating}}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="reviews">
            <div class="no-reviews" *ngIf="movie?.reviews.length==0">No reviews yet</div>
        </div>
    </div>
</div>